body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif; }

.btn {
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 15px; }
  .btn.btn-create {
    background-color: #3c763d;
    color: #FFF;
    font-weight: 400; }
  .btn.btn-save {
    background-color: red;
    color: #FFF;
    font-weight: 400; }

.div-content {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  transform: translateX(-50%) translateY(-50%); }

.note-div {
  padding: 15px;
  display: block;
  background: #fff;
  border-radius: 3px;
  width: max-content;
  color: #222;
  width: 100%;
  position: relative; }
  .note-div + .note-div {
    border-top: 1px solid rgba(0, 0, 0, 0.25); }
  .note-div h2 {
    margin: 0;
    display: inline-block; }
  .note-div .wrap-div {
    position: absolute;
    top: 5px;
    right: 15px; }
    .note-div .wrap-div .btn-redact, .note-div .wrap-div .btn-delete {
      display: inline-block;
      padding: 0;
      border: none;
      color: chocolate;
      background: transparent; }
      .note-div .wrap-div .btn-redact:hover, .note-div .wrap-div .btn-delete:hover {
        cursor: pointer;
        text-decoration: underline; }
    .note-div .wrap-div .btn-delete {
      color: red;
      margin-right: 10px; }
  .note-div .block-edit {
    display: block;
    width: 100%;
    margin-top: 15px; }
    .note-div .block-edit textarea {
      width: 100%;
      border-radius: 3px; }

#note-wrap {
  border-radius: 3px;
  color: #222; }

/*# sourceMappingURL=style.css.map */
