@mixin box-shadow($color){ 
    -webkit-box-shadow: $color; 
    -moz-box-shadow: $color; 
    box-shadow: $color; 
} 

@mixin to-center(){
    transform: translateX(-50%) translateY(-50%);
}
body{
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{ 
    border: 1px solid; 
    padding: 10px 15px; 
    border-radius: 3px; 
    margin-bottom: 15px; 

    &.btn-create{ 
        background-color: #3c763d; 
        color: #FFF; 
        font-weight: 400; 
    } 
    &.btn-save{
        background-color: red; 
        color: #FFF; 
        font-weight: 400; 
    }
}

.div-content{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;

    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.25)); 
    @include to-center;
}

.note-div{ 
    padding: 15px; 
    display: block;
    background: #fff; 
    border-radius: 3px; 
    width: max-content; 
    color: #222;
    width: 100%;
    position: relative;

    & + & {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }
    
    h2{
        margin: 0;
        margin-top: 5px;
    }
    
    .wrap-div{
        position: absolute;
        top: 5px;
        right: 15px;
        

        .btn-redact{
            display: inline-block;
            padding: 0;
            border: none;
            color: chocolate;
            background: transparent;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .btn-delete{
            @extend .btn-redact;
            color: red;
            margin-right: 10px;
        }
    }
    .block-edit{
        display: block;
        width: 100%;
        margin-top: 15px;

        textarea{
            width: 100%;
            border-radius: 3px;
        }
        
    }
}
#note-wrap{ 
    border-radius: 3px; 
    color: #222;
}